<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8 no-js"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js">  <!--<![endif]-->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}LOGIN{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('kindergarden_template/HTML/favicon.ico') }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('kindergarden_template/HTML/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" media="screen">

    <link href="{{ asset('kindergarden_template/HTML/css/style.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('kindergarden_template/HTML/css/font-awesome.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="http://fonts.googleapis.com/css?family=Fira+Sans:700&amp;subset=cyrillic" rel="stylesheet" type="text/css">

    <script src="{{ asset('kindergarden_template/HTML/js/modernizr.js') }}"></script>
    <script src="{{ asset('kindergarden_template/HTML/js/respond.js') }}"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; margin: auto;">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <br>
                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </form>

            </div>
        </div>
    </div>
</div>

</body>
