{% extends 'base.html.twig' %}

{% block title %}DESPRE NOI - {% endblock %}

{% block body %}

<!-- page content area -->
<section id="content" class="col-lg-7 col-md-8 col-sm-12">

    <div class="cloud">
        <h1>{{ title }}</h1>
    </div>

    <div class="content-bg">
        {% for slot in slots %}
            <div class="content-bg">
                {% for item in slot.slotItems %}
                    <h2 class="green-title"><span class="fa"></span>{{ item.title }}</h2>
                    {% if item.image %}
                        <img src="{{ asset('slot_item_gallery/'~item.image) }}" alt="" class="img-margin" />
                    {% endif %}
                    <p class="itemText">{{  item.text }}</p>
{#                    <a href="/{{ item.route }}" class="{{ item.buttonColor }}">#}
{#                        <span>&#xf138;</span>{{ item.buttonText }}#}
{#                    </a>#}
                    <div class="clearfix"><br /></div>
                    <div class="separator"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</section>
<!-- end page content area -->

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("div.separator").last().remove();
            var list = $('p.itemText');
            for (var i = 0; i < list.length; i++)  {
                list[i].innerHTML = list[i].innerText;
            }
        })
    </script>

{% endblock %}