{% extends 'base.html.twig' %}

{% block title %}CONTACT - {% endblock %}

{% block body %}

    <!-- page content area -->
    <section id="content" class="col-lg-7 col-md-8 col-sm-12">

        <div class="cloud">
            <h1>Contact</h1>
        </div>

        <div class="content-bg">
            <div class="col-lg-6 col-sm-12">
                {{ slotService.get('contact')|raw }}
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="fa social-media">
                    <a href="https://www.facebook.com/gradinita.constantinbrancusi">&#xf082;</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d704.7277604614724!2d23.27518322923941!3d45.047027046219284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474d8a59e939d65b%3A0x2e5237004436352f!2sGR%C4%82DINI%C5%A2A%20CU%20PROGRAM%20PRELUNGIT%20NR.%203!5e0!3m2!1sro!2sro!4v1609358344247!5m2!1sro!2sro" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="clearfix"></div>

            <div class="separator"></div>

            <div id="note"></div>
            <form class="w-clearfix" id="" action="{{ path('contact') }}" method="post" enctype="multipart/form-data">
                <div class="col-12">
                    <input type="text" name="subject" placeholder="Subiect" required/>
                </div>
                <div class="col-12">
                    <textarea name="message" id="message" placeholder="Mesaj" required></textarea>
                </div>
                <div class="col-6">
                    <input type="text" name="name" placeholder="Nume" required/>
                </div>
                <div class="col-6">
                    <input type="text" name="email" placeholder="Email" required/>
                </div>
                <div class="col-6">
                    <input type="file" name="file" placeholder="File"/>
                </div>
                <div class="col-12">
                    <input class="button red" type="submit" value=" TRIMITE MESAJ" />
                </div>
            </form>
            <div class="clearfix"></div>
        </div>

    </section>
    <!-- end page content area -->

{% endblock %}

{% block javascripts %}

    <script src="//maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{{ asset('kindergarden_template/HTML/js/gmaps.js') }}"></script>
    <script>

        GMaps.geocode({
            address: $('#address').html(),
            callback: function(results, status) {
                if (status == 'OK') {
                    map = new GMaps({
                        div: '#map',
                        lat: -12.043333,
                        lng: -77.028333
                    });
                    var latlng = results[0].geometry.location;
                    map.setCenter(latlng.lat(), latlng.lng());
                    map.addMarker({
                        lat: latlng.lat(),
                        lng: latlng.lng()
                    });
                }
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("div.separator").last().remove();
        })
    </script>

{% endblock %}