{% extends 'base.html.twig' %}

{% block title %}{{ content.title|upper }} - {% endblock %}

{% block body %}

    <!-- page content area -->
    <section id="content" class="col-lg-7 col-md-8 col-sm-12">

        <div class="cloud">
            <h1>{{ content.title }}</h1>
        </div>

        <div class="content-bg">
            <div class="content-bg">
                {{ content.content | raw}}
            </div>
        </div>

    </section>
    <!-- end page content area -->

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("div.separator").last().remove();
            var list = $('p.itemText');
            for (var i = 0; i < list.length; i++)  {
                list[i].innerHTML = list[i].innerText;
            }
        })
    </script>

{% endblock %}