{% extends 'base.html.twig' %}

{% block title %}GALERIE - {% endblock %}

{% block body %}

    <!-- page content area -->
    <section id="content" class="col-lg-7 col-md-8 col-sm-12">

        <div class="cloud">
            <h1>Galerie</h1>
        </div>

        <div class="content-bg">
            {% for gallery in galleries %}
                <h2 class="green-title"><span class="fa"></span> {{ gallery.name }}</h2>
                <p> {{ gallery.descriptions }}</p>
                <div class="gallery">
                    {% for item in gallery.galleryItems %}
                        <a href="{{ asset('gallery_slide/'~item.image) }}" rel="prettyphoto[gallery{{ gallery.id }}]">
                            <img src="{{ asset('galery/'~item.image) }}" alt="" style="width: 130px; height: 15vh; overflow: hidden" /></a>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
                <div class="separator"></div>
            {% endfor %}
        </div>

    </section>
    <!-- end page content area -->

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("div.separator").last().remove();
        })
    </script>

{% endblock %}