{% extends 'base.html.twig' %}

{% block title %}ACASA - {% endblock %}


{% block body %}

    <!-- front page header featured area -->
    <section id="featured">

        <!-- WOWSlider -->
        <div id="wowslider-container1">
            <div class="ws_images">
                <ul>
                    {% for wowItem in wowSliderItems %}
                        <li>
                            <a href="{{ wowItem.link }}">
                                <img src="{{ asset('kindergarden_template/HTML/images/wowslider/'~wowItem.image.name) }}" alt="This is the title" title='{{ wowItem.title }}'/>
                            </a>
                            {{ wowItem.description }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    {% for wowItem in wowSliderItems %}
                        <a href="#" title='{{ wowItem.title }}'>{{ loop.index }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--  end WOWSlider -->

    </section>
    <!-- end front page header featured area -->

    <!-- page content area -->

    <section id="content-homepage">

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div id="col-yellow">
                <div id="ladybug"></div>
                    {{ slotService.get('homepage-stanga')|raw }}
                    <div class="clearfix"><br /></div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div id="col-orange">
                <div id="butterfly"></div>
                {{ slotService.get('homepage-dreapta')|raw }}
                <div class="clearfix"><br /></div>
            </div>
        </div>

    </section>

    <!-- end page content area -->

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('kindergarden_template/HTML/js/wowslider.js') }}"></script>
    <script src="{{ asset('kindergarden_template/HTML/js/wowtransition.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            let wowItems = $("div.ws_images").find("li");
            for (let i = 0; i < wowItems.length; i++) {
                wowItems[i].id = "wows1_" + i;
            }
        })
    </script>

{% endblock %}