{# extends "SonataAdminBundle:CRUD:base_list_field.html.twig" #}
{% extends get_admin_template('base_list_field', admin.code) %}
{% block field %}
    <div>
        {% if object.image != null %}

            <img src="{{ asset('galery/'~object.image) }}"  style="width: 150px; height: 100px;">
        {% else %}
            <span>No preview</span>
        {% endif %}
    </div>
{% endblock %}