<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8 no-js"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js">  <!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %} GRĂDINIŢA CU PROGRAM PRELUNGIT "CONSTANTIN BRANCUSI" </title>
        <link rel="shortcut icon" href="{{ asset('kindergarden_template/HTML/favicon.ico') }}">

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('kindergarden_template/HTML/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" media="screen">

        <link href="{{ asset('kindergarden_template/HTML/css/style.css') }}" type="text/css" rel="stylesheet" media="screen">
        <link href="{{ asset('kindergarden_template/HTML/css/font-awesome.css') }}" type="text/css" rel="stylesheet" media="screen">
        <link href="http://fonts.googleapis.com/css?family=Fira+Sans:700&amp;subset=cyrillic" rel="stylesheet" type="text/css">

        <script src="{{ asset('kindergarden_template/HTML/js/modernizr.js') }}"></script>
        <script src="{{ asset('kindergarden_template/HTML/js/respond.js') }}"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <div class="container" id="wrapper">

        {% include('header.html.twig') %}

        {% block body %}

        {% endblock %}

        <div class="clearfix"></div>
    </div>
    <!-- end #wrapper -->

    {% include('footer.html.twig') %}

    <script src="{{ asset('kindergarden_template/HTML/js/jquery-1.10.1.min.js') }}"></script>
    <script src="{{ asset('kindergarden_template/HTML/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('kindergarden_template/HTML/js/custom.js') }}"></script>
    <script src="{{ asset('kindergarden_template/HTML/js/jquery.prettyPhoto.js') }}"></script>

    {% block javascripts %}{% endblock %}
    
    <script type="text/javascript">
        $(document).ready(function () {
            let text = $('#footerMenu').html();
            let charIndex = text.lastIndexOf('/');
            text = text.slice(0,charIndex);
                $('#footerMenu').html(text.slice(0,charIndex));

            let links = $("div").filter('.footer-links').children();
            for (let i = 0; i < links.length; i++) {
                links[i].text = links[i].text.charAt(0) + links[i].text.slice(1).toLowerCase();
            }
        })
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XZHETWN3NL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XZHETWN3NL');
    </script>
    </body>
</html>
