<footer>
    <div class="footer-menu">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12 fa social-media">
{#                <a href="#">&#xf0d4;</a>#}
                <a href="https://www.facebook.com/gradinita.constantinbrancusi">&#xf082;</a>
{#                <a href="#">&#xf099;</a>#}
{#                <a href="#">&#xf16d;</a>#}
{#                <a href="#">&#xf08c;</a>#}
{#                <a href="#">&#xf0d2;</a>#}
{#                <a href="#">&#xf166;</a>#}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 footer-links" id="footerMenu">
                {% for menuItem in menuService.getMenuItems %}
                    <a href="{{ menuService.getUrl(menuItem) }}">{{ menuItem }}</a> /
                {% endfor %}
            </div>
        </div>
    </div>
</footer>