<!-- header -->
<header>
    <a href="{{ path('default') }}" class="logo">
        <img src="{{ asset('kindergarden_template/HTML/images/logo_color.png') }}" alt="" style="width: 60%"/>
    </a>
    <nav role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa">&#xf0c9;</span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul>
                {% for menuItem in menuService.getMenuItems %}
                    <li><a href="{{ menuService.getUrl(menuItem) }}">{{ menuItem }}</a></li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
        <div id="sun"></div>

    </nav>
    <div class="clearfix"></div>
</header>
<!-- end header -->